.header{
    display: flex;
    align-items: center;
    padding: 1rem;
    background-image: linear-gradient( to right,#603F8B ,#C55FFC) ;
    color: white;
}

.header img{
    max-height: 40px;
}

.header span{
    margin-right: auto;
    margin-left: .5rem;
    font-size: 25px;
    font-weight: 700;
}

p{
    font-size: .9rem;
}

main{
    padding: 2rem;
}

.inputsection{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 2rem;
}
.inputsection input{
    width: 100%;
    height: 3rem;
    text-indent: 5px;
}

button{
    width: 100%;
    background-image: linear-gradient( to right,#603F8B ,#C55FFC) ; ;
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 1rem;
    margin-bottom: 2rem;
}

main .memeContainer{
    position: relative;
    /* margin: auto; */
    width: 100%;
    min-height: 500px;
}

main .memeContainer img{
    max-width: 100%;
    width: 100%;
    height: 500px;
}

.top{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    color: white;
    text-shadow: 0 0 10px black;
}

.bottom{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    text-shadow: 0 0 10px black;
}
